[submodule "games/fungal-escape"]
	path = games/fungal-escape
	url = git@github.com:aquarockslug/fungal-escape.git
[submodule "games/cosmic-critters"]
	path = games/cosmic-critters
	url = git@github.com:aquarockslug/cosmic-critters.git
[submodule "games/trivia-cubes"]
	path = games/trivia-cubes
	url = git@github.com:aquarockslug/trivia-cubes.git
[submodule "games/gasworks"]
	path = games/gasworks
	url = git@github.com:aquarockslug/gasworks.git
[submodule "games/pokemon_book"]
	path = games/pokemon_book
	url = git@github.com:aquarockslug/pokemon_book.git
[submodule "games/card_test"]
	path = games/card_test
	url = git@github.com:aquarockslug/card_test.git
